#wishlist {
  .wishlist {
    .container {
      .my {
        .cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          padding-top: 100px;
          .card {
            width: 255px;
            padding: 13px;
            padding-bottom: 20px;
            button {
              padding: 5px 14px;
              background-color: white;
              border-radius: 5px;
            }
            h2 {
              font-size: 17px;
            }
            img {
              margin-left: 20px;
            }
            .detail {
              .right {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
              }
            }
          }
          .card:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
        }
      }
    }
  }
}
